@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	
}


header{
	width: 100%;
	height: 40px;
	background-color: #AF9365;
	padding: 0px 15px 15px 0px;
	margin-bottom: 12px;
}

nav > ul li{
	display: table-cell;
	
}



li{
	display: block;
	padding: 20px;
	position: relative;
	align-content: center;
	text-decoration: none;
}


#title{
	background: #EEE4D7
}

h1{
	font-size: 24pt;
	text-align: center;
	padding: 2%;
}

#titletext{
	text-align: center;
	padding-bottom: 10px;
}

#leftbox{
	width: 27%;
	float: left;
	padding: 2%;
	margin: 1.1%;
	text-align: justify;
	background: #B87A55;
	height: 110px;

}

#centerbox{
	width: 27%;
	height: 110px;
	float: left;
	padding: 2%;
	margin: 1.1%;
	text-align: justify;
	background: #AF9883;
}

#rightbox{
	width: 27%;
	float: left;
	padding: 2%;
	margin: 1.1%;
	text-align: justify;
	background: #AF9883;
	height: 110px;

}

footer{
	float: left;
	width: 100%;
	padding: 1.5%;
	background: #2B231E;
	color: white;
	text-align: center
}


